<ul class="nav">
    <li class="nav-item">
        <a class="nav-link active" href="#">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="#">Logout</a>
    </li>
</ul>
<br>
<div class="table-responsive">
    <table class='table table-bordered table-hover'>
        <thead class="thead-inverse">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Mobile Number</th>
                <th>Address</th>
                <th>Alternative Number</th>
                <th>Edit / Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Ram</td>
                <td>ram@gmail.com</td>
                <td>9663976539</td>
                <td>#165, Alyt, kengeri satellite town, Bangalore</td>
                <td>9739478769</td>
                <td>Delete</td>
            </tr>
            <tr>
                <td>Ram</td>
                <td>ram@gmail.com</td>
                <td>9663976539</td>
                <td>#165, Alyt, kengeri satellite town, Bangalore</td>
                <td>9739478769</td>
                <td>Delete</td>
            </tr>
            <tr>
                <td>Ram</td>
                <td>ram@gmail.com</td>
                <td>9663976539</td>
                <td>#165, Alyt, kengeri satellite town, Bangalore</td>
                <td>9739478769</td>
                <td>Delete</td>
            </tr>
            <tr>
                <td>Ram</td>
                <td>ram@gmail.com</td>
                <td>9663976539</td>
                <td>#165, Alyt, kengeri satellite town, Bangalore</td>
                <td>9739478769</td>
                <td>Delete</td>
            </tr>
            <tr>
                <td>Ram</td>
                <td>ram@gmail.com</td>
                <td>9663976539</td>
                <td>#165, Alyt, kengeri satellite town, Bangalore</td>
                <td>9739478769</td>
                <td>Delete</td>
            </tr>
            <tr>
                <td>Ram</td>
                <td>ram@gmail.com</td>
                <td>9663976539</td>
                <td>#165, Alyt, kengeri satellite town, Bangalore</td>
                <td>9739478769</td>
                <td>Delete</td>
            </tr>
            <tr>
                <td>Ram</td>
                <td>ram@gmail.com</td>
                <td>9663976539</td>
                <td>#165, Alyt, kengeri satellite town, Bangalore</td>
                <td>9739478769</td>
                <td>Delete</td>
            </tr>
            <tr>
                <td>Ram</td>
                <td>ram@gmail.com</td>
                <td>9663976539</td>
                <td>#165, Alyt, kengeri satellite town, Bangalore</td>
                <td>9739478769</td>
                <td>Delete</td>
            </tr>
            <tr>
                <td>Ram</td>
                <td>ram@gmail.com</td>
                <td>9663976539</td>
                <td>#165, Alyt, kengeri satellite town, Bangalore</td>
                <td>9739478769</td>
                <td>Delete</td>
            </tr>
            <tr>
                <td>Ram</td>
                <td>ram@gmail.com</td>
                <td>9663976539</td>
                <td>#165, Alyt, kengeri satellite town, Bangalore</td>
                <td>9739478769</td>
                <td>Delete</td>
            </tr>
            <tr>
                <td>Ram</td>
                <td>ram@gmail.com</td>
                <td>9663976539</td>
                <td>#165, Alyt, kengeri satellite town, Bangalore</td>
                <td>9739478769</td>
                <td>Delete</td>
            </tr>
            <tr>
                <td>Ram</td>
                <td>ram@gmail.com</td>
                <td>9663976539</td>
                <td>#165, Alyt, kengeri satellite town, Bangalore</td>
                <td>9739478769</td>
                <td>Delete</td>
            </tr>
            <tr>
                <td>Ram</td>
                <td>ram@gmail.com</td>
                <td>9663976539</td>
                <td>#165, Alyt, kengeri satellite town, Bangalore</td>
                <td>9739478769</td>
                <td>Delete</td>
            </tr>
            <tr>
                <td>Ram</td>
                <td>ram@gmail.com</td>
                <td>9663976539</td>
                <td>#165, Alyt, kengeri satellite town, Bangalore</td>
                <td>9739478769</td>
                <td>Delete</td>
            </tr>
            <tr>
                <td>Ram</td>
                <td>ram@gmail.com</td>
                <td>9663976539</td>
                <td>#165, Alyt, kengeri satellite town, Bangalore</td>
                <td>9739478769</td>
                <td>Delete</td>
            </tr>
            <tr>
                <td>Ram</td>
                <td>ram@gmail.com</td>
                <td>9663976539</td>
                <td>#165, Alyt, kengeri satellite town, Bangalore</td>
                <td>9739478769</td>
                <td>Delete</td>
            </tr>
            <tr>
                <td>Ram</td>
                <td>ram@gmail.com</td>
                <td>9663976539</td>
                <td>#165, Alyt, kengeri satellite town, Bangalore</td>
                <td>9739478769</td>
                <td>Delete</td>
            </tr>
            <tr>
                <td>Ram</td>
                <td>ram@gmail.com</td>
                <td>9663976539</td>
                <td>#165, Alyt, kengeri satellite town, Bangalore</td>
                <td>9739478769</td>
                <td>Delete</td>
            </tr>
            <tr>
                <td>Ram</td>
                <td>ram@gmail.com</td>
                <td>9663976539</td>
                <td>#165, Alyt, kengeri satellite town, Bangalore</td>
                <td>9739478769</td>
                <td>Delete</td>
            </tr>
            <tr>
                <td>Ram</td>
                <td>ram@gmail.com</td>
                <td>9663976539</td>
                <td>#165, Alyt, kengeri satellite town, Bangalore</td>
                <td>9739478769</td>
                <td>Delete</td>
            </tr>
            <tr>
                <td>Ram</td>
                <td>ram@gmail.com</td>
                <td>9663976539</td>
                <td>#165, Alyt, kengeri satellite town, Bangalore</td>
                <td>9739478769</td>
                <td>Delete</td>
            </tr>
            <tr>
                <td>Ram</td>
                <td>ram@gmail.com</td>
                <td>9663976539</td>
                <td>#165, Alyt, kengeri satellite town, Bangalore</td>
                <td>9739478769</td>
                <td>Delete</td>
            </tr>
            <tr>
                <td>Ram</td>
                <td>ram@gmail.com</td>
                <td>9663976539</td>
                <td>#165, Alyt, kengeri satellite town, Bangalore</td>
                <td>9739478769</td>
                <td>Delete</td>
            </tr>
        </tbody>
    </table>
</div>